
.employee-details-container{
    width: 90%;
}

#employee-title{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.employee-label{
    margin-left: 25px;
}

.employee-input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 3px;
    width: 200px;
    height: 35px;
}

#update-button{
    border-radius: 5px;
    border-style: none;
    background-color: #4488ee;
    color: #f9f9f9;
    width: 140px;
    height: 35px;
    margin-left: 25px;
    margin-top: 40px;
    display: block;
}

#delete-button{
    border-radius: 5px;
    border-style: none;
    background-color: #ee7777;
    color: #f9f9f9;
    width: 140px;
    height: 35px;
    margin-left: 25px;
    margin-top: 40px;
}

.error-message{
    color: #ee7777;
    margin: 20px;
}